<template>
    <div id="app">
        <notifications></notifications>
        <app-menu></app-menu>
        <router-view></router-view>
    </div>
</template>

<script>
    import AppMenu from "./components/Menu";

    export default {
        name: "App",
        components: {
            AppMenu
        },
        created(){
            const self = this;
            self.$store.dispatch('get_player');
        }
    }
</script>

<style lang="scss">
</style>

