<template>
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="card login_card">
                <div class="card-content">
                    <router-link to="/setup/new"  class="button is-medium is-fullwidth gamebutton">New game</router-link>
                    <router-link to="/setup/existing"  class="button is-medium is-fullwidth gamebutton">Existing game</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "views-setup-Game",
    }
</script>

<style scoped>
    .login_card {
        width: 500px;
        margin: 0 auto;
    }

    .gamebutton {
        margin-top: 10px;
        margin-bottom: 10px;
    }

</style>