<template>
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="card login_card">
                <div class="card-content">
                    <div class="notification is-warning" v-if="error_code_label">
                        {{error_code_label}}
                    </div>

                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input is-medium" type="text" placeholder="Username" v-model="username">
                        </div>
                    </div>
                    <button @click="new_game" class="button is-medium is-fullwidth gamebutton">Start game</button>
                    <router-link to="/setup" class="button is-medium is-text gamebutton">back</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const sessionstorage = require('sessionstorage');

    export default {
        name: "views-setup-Game",
        data() {
            return {
                username: "",
                error_code: "",
            }
        },
        computed: {
            error_code_label() {
                const self = this;
                switch (self.error_code) {
                    case "ok":
                        return "";
                    case "username_used":
                        return "Username taken.";
                    case "username_empty":
                        return "Username is required";
                    default:
                        return "";
                }
            }
        },
        methods: {
            new_game() {
                const self = this;

                self.$http.post(ROOT_URL + '/api/game', {
                    username: self.username
                }).then(response => {
                    const body = response.body;
                    if ("game_code" in body && body.game_code) {
                        sessionstorage.setItem("game_code", body.game_code);
                        self.$store.dispatch('get_player');
                        self.$router.push("/");
                    }
                }, response => {
                    const body = response.body;
                    self.error_code = body.message;
                });
            }
        }
    }
</script>

<style scoped>
    .login_card {
        width: 500px;
        margin: 0 auto;
    }

    .gamebutton {
        margin-top: 10px;
        margin-bottom: 10px;
    }

</style>