<template>
    <div class="box action"
         :class="{'has-background-success': success===true, 'has-background-danger': success===false}">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <strong>
                        {{action.label}}
                    </strong>
                    <span v-show="success===true" class="is-success">
                        - <strong>Success</strong>
                    </span>
                    <span v-show="success===false" class="is-danger">
                        - <strong>Failed</strong>
                    </span>
                    <span v-show="error_message">
                        {{error_message}}
                    </span>
                    <button @click="do_action" class="button is-info is-pulled-right" :class="{'is-loading': loading}"
                            :disabled="action.timed_out">
                        Go&nbsp;<small>({{action.success_rate}}%)</small>
                    </button>

                    <div class="description">
                        <p>
                            {{action.description}}
                        </p>

                        <div class="columns">
                            <div class="column">
                                <span>Reward</span>
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fas fa-dollar-sign"></i>
                                        </span>
                                        {{action.reward_money}}
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fas fa-users"></i>
                                        </span>
                                        {{action.base_influence}}
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fas fa-user-shield"></i>
                                        </span>
                                        {{action.base_guard}}
                                    </li>
                                </ul>
                            </div>
                            <div class="column">
                                <span>On failure</span>
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fas fa-star"></i>
                                        </span>
                                        {{action.suspicion_level_increase}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cooldown">
                        <span>Cool down <small>({{action.timeout}}s)</small></span>
                        <progress class="progress is-small" :value="action.time_passed" :max="action.timeout">
                            {{action.time_passed}}%
                        </progress>
                    </div>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
    export default {
        name: "components-actions-action",
        props: {
            action: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                loading: false,
                error_message: "",
                success: null,
                timeout: null
            }
        },
        methods: {
            pass_time() {
                const self = this;
                self.action.time_passed += 1;

                if (self.action.time_passed >= self.action.timeout) {
                    self.action.timed_out = false;
                    self.action.time_passed = 0;
                } else {
                    if (self.timeout) {
                        try {
                            clearTimeout(self.timeout);
                        } catch (e) {
                        }
                    }

                    self.timeout = setTimeout(() => {
                        self.pass_time();
                    }, 1000);
                }
            },
            do_action() {
                const self = this;

                if (self.action.timed_out || self.loading) {
                    return;
                }

                self.loading = true;

                self.action.timed_out = false;
                self.action.time_passed = 0;

                self.$http.post(ROOT_URL + '/api/action', {
                    kind: self.action.kind
                }).then(response => {
                    self.loading = false;
                    self.action.timed_out = true;

                    if (self.timeout) {
                        try {
                            clearTimeout(self.timeout);
                        } catch (e) {
                        }
                    }

                    self.timeout = setTimeout(() => {
                        self.pass_time();
                    }, 1000);

                    const body = response.body;

                    if ('message' in body && body.message === 'action_fail') {
                        self.success = false;
                    } else if ('message' in body && body.message === 'action_success') {
                        self.success = true;
                    } else if ('message' in body && body.message === 'action_timeout') {
                        self.success = false;
                        self.action.timed_out = true;
                    }

                    setTimeout(() => {
                        self.success = null;
                    }, 1000);

                    if ('player' in body) {
                        self.$store.commit("set_player", body.player);
                    }

                    if ('next_money' in body) {
                        self.action.reward_money = body.next_money;
                    }

                    if('caught' in body && body.caught){
                        self.$store.commit("set_busted", {
                            busted: body.caught || false,
                            lost_money: body.lost_money || 0,
                            lost_influence: body.lost_influence || 0,
                            lost_guard: body.lost_guard || 0,
                        });
                    }

                }, response => {
                    self.loading = false;
                    self.action.timed_out = true;

                    if (self.timeout) {
                        try {
                            clearTimeout(self.timeout);
                        } catch (e) {
                        }
                    }

                    self.timeout = setTimeout(() => {
                        self.pass_time();
                    }, 1000);

                    const body = response.body;
                    if ('message' in body && body.message === 'action_fail') {
                        self.success = false;
                    } else if ('message' in body && body.message === 'action_success') {
                        self.success = true;
                    } else if ('message' in body && body.message === 'action_timeout') {
                        self.success = false;
                    }

                    setTimeout(() => {
                        self.success = null;
                    }, 1000);
                });
            }
        },
        beforeDestroy() {
            const self = this;

            if (self.timeout) {
                try {
                    clearTimeout(self.timeout);
                } catch (e) {
                }
            }

        },
        created() {
            const self = this;

            if (self.action.timed_out) {
                if (self.timeout) {
                    try {
                        clearTimeout(self.timeout);
                    } catch (e) {
                    }
                }

                self.timeout = setTimeout(() => {
                    self.pass_time();
                }, 1000);
            }
        }
    }
</script>

<style scoped>
    .action:hover {
        background-color: #EFEFEF;
    }

    .cooldown {
        margin-top: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        margin-top: 0 !important;
        padding-right: 15px;
    }
</style>