<template>
    <div class="box action"
         :class="{'has-background-success': success===true, 'has-background-danger': success===false}">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <strong>
                        {{item.label}}
                    </strong>
                    <small>
                        (
                        <i class="fas fa-dollar-sign" style="height:0.9em;"></i>
                        {{item.actual_cost}}
                        )
                    </small>
                    <span v-show="success===true" class="is-success">
                        - <strong>Bought {{bought_quantity}}</strong>
                    </span>
                    <span v-show="success===false" class="is-danger">
                        - <strong>Not enough money</strong>
                    </span>
                    <span v-show="error_message">
                        {{error_message}}
                    </span>
                    <div class="is-pulled-right">
                        <button v-for="quantity in quantities" @click="buy_item(quantity)"
                                style="margin-top: 5px; margin-bottom: 5px;"
                                class="button is-info is-fullwidth" :class="{'is-loading': quantity.clicked}"
                                :disabled="(quantity.quantity !== 9999999999999 || user_money < item.actual_cost) && (quantity.clicked || user_money < item.actual_cost * quantity.quantity)">
                            Buy&nbsp;
                            <span v-if="quantity.quantity !== 9999999999999">{{quantity.quantity}}</span>
                            <span v-else="">max</span>
                        </button>
                    </div>

                    <div class="description">
                        <p>
                            {{item.description}}
                        </p>

                        <span>Bonus <small>(per one)</small></span>
                        <ul>
                            <li>
                                <span>
                                    <i class="fas fa-users"></i>
                                </span>
                                {{item.influence}}
                            </li>
                            <li>
                                <span>
                                    <i class="fas fa-user-shield"></i>
                                </span>
                                {{item.guard}}
                            </li>
                            <li>
                                <span>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{item.suspicion_level_decrease}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
    export default {
        name: "components-shop-item",
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                quantities: [{
                    quantity: 1,
                    clicked: false,
                }, {
                    quantity: 10,
                    clicked: false,
                }, {
                    quantity: 100,
                    clicked: false,
                }, {
                    quantity: 1000,
                    clicked: false,
                }, {
                    quantity: 9999999999999,
                    clicked: false,
                }],
                loading: false,
                error_message: "",
                success: null,
                bought_quantity: 1,
            }
        },
        computed: {
            user_money() {
                const self = this;
                return self.$store.state.current_user.money;
            },
        },
        methods: {
            pass_time() {
                const self = this;
                self.item.time_passed += 1;

                if (self.item.time_passed >= self.item.timeout) {
                    self.item.timed_out = false;
                    self.item.time_passed = 0;
                } else {
                    setTimeout(() => {
                        self.pass_time();
                    }, 1000);
                }
            },
            buy_item(quantity) {
                const self = this;

                if (quantity.clicked || self.loading) {
                    return;
                }

                quantity.clicked = true;

                self.$http.post(ROOT_URL + '/api/shop', {
                    kind: self.item.kind,
                    quantity: quantity.quantity || 1
                }).then(response => {
                    setTimeout(() => {
                        quantity.clicked = false;
                    }, 100);
                    const body = response.body;
                    self.bought_quantity = body.quantity || 1;

                    if ('message' in body && body.message === 'not_enough_money') {
                        self.success = false;
                    } else if ('message' in body && body.message === 'item_bought') {
                        self.success = true;
                    }

                    setTimeout(() => {
                        self.success = null;
                    }, 1000);

                    if ('player' in body) {
                        self.$store.commit("set_player", body.player);
                    }

                }, response => {
                    setTimeout(() => {
                        self.loading = false;
                    }, 100);

                    self.success = false;
                    setTimeout(() => {
                        self.success = null;
                    }, 1000);
                });
            }
        }
    }
</script>

<style scoped>
    .action:hover {
        background-color: #EFEFEF;
    }

    .cooldown {
        margin-top: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        margin-top: 0 !important;
        padding-right: 15px;
    }
</style>