<template>
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <button class="button is-fullwidth" @click="modal_active = true">
                        Your game code
                    </button>

                    <button class="button is-danger is-fullwidth" @click="logout" style="margin-top: 15px;">
                        End session
                    </button>
                </div>
            </div>
        </article>

        <div class="modal" :class="{'is-active': modal_active}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    Your game code is used to play on another computer or at a later moment. <br/>
                                    Save this code a keep it a secret
                                </p>
                                <div class="field has-addons">
                                    <div class="control  is-expanded">
                                        <input class="input" type="text" :value="code" readonly>
                                    </div>
                                    <div class="control">
                                        <button class="button" @click="toggle_game_code" v-if="!code">Show code</button>
                                        <button class="button" @click="toggle_game_code" v-else-if="code">Hide code
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <button class="button is-info is-pulled-right" @click="modal_active = false"
                            style="margin-top: 15px;">
                        Close
                    </button>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="modal_active = false"></button>
        </div>
    </div>
</template>

<script>
    const sessionstorage = require('sessionstorage');

    export default {
        name: "components-UserInfo",
        data() {
            return {
                modal_active: false,
                code: "",
            }
        },
        watch: {
            modal_active() {
                const self = this;
                if (!self.modal_active) {
                    self.clicked_on = false;
                }
            },
        },
        methods: {
            toggle_game_code() {
                const self = this;

                if (!self.code) {
                    self.code = sessionstorage.getItem("game_code");
                } else {
                    self.code = "";
                }
            },
            logout() {
                const self = this;

                sessionstorage.removeItem("game_code");
                self.$cookie.delete("game_code");
                setTimeout(() => {
                    window.location = "/setup";
                    // self.$router.push('/setup');
                }, 200);
            }
        }
    }
</script>