<template>
    <div class="columns">
        <div class="column">
            <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <h1 class="brand">LD42 Game</h1>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        name: "components-Menu"
    }
</script>

<style scoped>
    .brand {
        text-align: center;
        vertical-align: middle;
        line-height: 52px;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
        border-right: 2px solid white;
    }
</style>