<template>
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <strong>
                        Player {{player_info.display_name || player_info.username}}
                    </strong>
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            {{player_info.money}}
                            <span class="delta" :class="{'show': show_money_delta}" v-show="money_delta != 0">
                                <span v-show="money_delta >= 0" class="has-text-success">
                                    +{{money_delta}}
                                </span>
                                <span v-show="money_delta < 0" class="has-text-danger">
                                    {{money_delta}}
                                </span>
                            </span>
                        </li>
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-users"></i>
                            </span>
                            {{player_info.influence}}
                            <span class="delta" :class="{'show': show_influence_delta}" v-show="influence_delta != 0">
                                <span v-show="influence_delta >= 0" class="has-text-success">
                                    +{{influence_delta}}
                                </span>
                                <span v-show="influence_delta < 0" class="has-text-danger">
                                    {{influence_delta}}
                                </span>
                            </span>
                        </li>
                        <li>
                            <span class="fa-li">
                                <i class="fas fa-user-shield"></i>
                            </span>
                            {{player_info.guard}}
                            <span class="delta" :class="{'show': show_guard_delta}" v-show="guard_delta != 0">
                                <span v-show="guard_delta >= 0" class="has-text-success">
                                    +{{guard_delta}}
                                </span>
                                <span v-show="guard_delta < 0" class="has-text-danger">
                                    {{guard_delta}}
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
    export default {
        name: "components-UserInfo",
        data() {
            return {
                money_delta: 0,
                show_money_delta: false,
                influence_delta: 0,
                show_influence_delta: false,
                guard_delta: 0,
                show_guard_delta: false,
            }
        },
        computed: {
            player_info() {
                const self = this;
                return self.$store.state.current_user;
            },
            old_player_info() {
                const self = this;
                return self.$store.state.current_user_old;
            }
        },
        watch: {
            money_delta() {
                const self = this;
                self.show_money_delta = true;
                setTimeout(() => {
                    self.show_money_delta = false;
                    setTimeout(() => {
                        self.money_delta = 0;
                    }, 1000);
                }, 100);
            },
            influence_delta() {
                const self = this;
                self.show_influence_delta = true;
                setTimeout(() => {
                    self.show_influence_delta = false;
                    setTimeout(() => {
                        self.influence_delta = 0;
                    }, 1000);
                }, 100);
            },
            guard_delta() {
                const self = this;
                self.show_guard_delta = true;
                setTimeout(() => {
                    self.show_guard_delta = false;
                    setTimeout(() => {
                        self.guard_delta = 0;
                    }, 1000);
                }, 100);
            },
            player_info: {
                deep: true,
                handler(player_info) {
                    const self = this;

                    if (player_info.money !== self.old_player_info.money) {
                        self.money_delta = player_info.money - self.old_player_info.money;
                    }

                    if (player_info.influence !== self.old_player_info.influence) {
                        self.influence_delta = player_info.influence - self.old_player_info.influence;
                    }

                    if (player_info.guard !== self.old_player_info.guard) {
                        self.guard_delta = player_info.guard - self.old_player_info.guard;
                    }
                }
            }
        }
    }
</script>

<style scoped>
    ul {
        list-style: none;
    }

    span.delta {
        opacity: 0;
        transition: opacity 1s linear;
    }

    span.delta.show {
        opacity: 1;
        transition: opacity 1ms linear;
    }
</style>