<template>
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <i class="fas fa-star"></i>
                    <strong>
                        Suspect meter
                    </strong>
                    <span class="delta" :class="{'show': show_suspicion_level_delta}"
                          v-show="suspicion_level_delta != 0">
                        <span v-show="suspicion_level_delta >= 0" class="has-text-danger">
                            +{{suspicion_level_delta}}
                        </span>
                        <span v-show="suspicion_level_delta < 0" class="has-text-success">
                            {{suspicion_level_delta}}
                        </span>
                    </span>
                    <progress class="progress" :class="[progress_class]" :value="player_info.suspicion_level" max="100">
                        {{player_info.suspicion_level}}%
                    </progress>
                </div>
            </div>
        </article>

        <div class="modal" :class="{'is-active': modal_active}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <strong>Busted!</strong>
                                <br/>
                                <span>Lost</span>
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fas fa-dollar-sign"></i>
                                        </span>
                                        {{busted_info.lost_money}}
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fas fa-users"></i>
                                        </span>
                                        {{busted_info.lost_influence}}
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fas fa-user-shield"></i>
                                        </span>
                                        {{busted_info.lost_guard}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <button class="button is-info is-pulled-right" @click="close"
                            style="margin-top: 15px;">
                        Okay
                    </button>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="close"></button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "components-SuspectMeter",
        data() {
            return {
                suspicion_level_delta: 0,
                show_suspicion_level_delta: false,
                modal_active: false,
            }
        },
        computed: {
            player_info() {
                const self = this;
                return self.$store.state.current_user;
            },
            old_player_info() {
                const self = this;
                return self.$store.state.current_user_old;
            },
            busted_info() {
                const self = this;
                return self.$store.state.busted_info;
            },
            progress_class() {
                const self = this;

                let value = "is-danger";

                if (self.player_info.suspicion_level < 60) {
                    value = "is-warning";
                }

                if (self.player_info.suspicion_level < 20) {
                    value = "is-success";
                }

                return value;
            }
        },
        watch: {
            "busted_info.busted"(value) {
                const self = this;

                if (value) {
                    self.modal_active = true;
                }
            },
            suspicion_level_delta() {
                const self = this;

                self.show_suspicion_level_delta = true;
                setTimeout(() => {
                    self.show_suspicion_level_delta = false;
                    setTimeout(() => {
                        self.suspicion_level_delta = 0;
                    }, 1000);
                }, 100);
            },
            player_info: {
                deep: true,
                handler(player_info) {
                    const self = this;

                    if (player_info.suspicion_level !== self.old_player_info.suspicion_level) {
                        self.suspicion_level_delta = player_info.suspicion_level - self.old_player_info.suspicion_level;
                    }
                }
            }
        },
        methods: {
            close(){
                const self = this;

                self.modal_active = false;

                self.$store.commit("set_busted", {
                    busted: false,
                    lost_money: 0,
                    lost_influence: 0,
                    lost_guard:0,
                });
            }
        }
    }
</script>

<style scoped>
    span.delta {
        opacity: 0;
        transition: opacity 1s linear;
    }

    span.delta.show {
        opacity: 1;
        transition: opacity 1ms linear;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        margin-top: 0 !important;
        padding-right: 15px;
    }
</style>