<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tabs is-toggle">
                    <ul>
                        <li>
                            <router-link to="/game/actions">
                                Actions
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/game/shop">
                                Shop
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/game/leaderboard">
                                Leader board
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <p>
                                Made for <a href="https://ldjam.com/">ludumdare 42</a>. <br />
                                Goal of the game is become the best. Stay on the top of the leader board. You can achieve this by performing actions and then buying items from the shop to increase your influence and guard.
                            </p>
                            <p>
                                We developed this game in the hope to make it somewhat pvp and/or with player interaction. But we ran out of <span style="text-decoration: line-through;">space</span> time. So the only way you know there are more players in this game is by looking at the leader board. We still think what we've developed this weekend is a pretty solid foundation for a good game. We'll definitely consider continuing developing if the responses are somewhat decent. We still have plenty of idea's that we could add to this game.
                            </p>
                            <strong>
                                Tech used
                            </strong>
                            <ul>
                                <li><a href="https://vuejs.org/">Vue Js</a> for the front end</li>
                                <li><a href="https://bulma.io/">Bulma</a> css framework</li>
                                <li><a href="https://falconframework.org/">Falcon Web Framework</a> for the back end API</li>
                                <li><a href="https://cloud.google.com/appengine/">Google App Engine</a> as hosting</li>
                                <li><a href="https://cloud.google.com/datastore/">Google Datastore</a> as database</li>
                            </ul>
                            <br/>
                            <a href="https://bitbucket.org/itsasnade/game/src">source</a>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "views-About"
    }
</script>

<style scoped>
    .tabs.is-toggle a {
        background-color: #FFF;
        border-color: #FFF;
    }

    .tabs.is-toggle a:hover {
        background-color: #CFCFCF;
        border-color: #CFCFCF;
    }

    .tabs.is-toggle a.is-active {
        background-color: #3273dc;
        border-color: #3273dc;
        color: white;
    }

    .tabs.is-toggle a.is-active:hover {
        background-color: #285cb0;
        border-color: #285cb0;
    }

    p{
        margin-bottom: 15px;
    }

</style>