<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tabs is-toggle">
                    <ul>
                        <li>
                            <router-link to="/game/actions">
                                Actions
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/game/shop">
                                Shop
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/game/leaderboard">
                                Leader board
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-quarters">
                <router-view></router-view>
            </div>
            <div class="column">
                <player-info></player-info>
                <suspect-meter></suspect-meter>
                <game-actions></game-actions>
                <div class="box">
                    <article class="media">
                        <div class="media-content" style="font-size: 12px;">
                            Made with
                            <span style="color: red;">
                                <i class="fas fa-heart"></i>
                            </span> for Ludumdare 42 <br />

                            <router-link to="/about">About this game</router-link>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PlayerInfo from "../components/PlayerInfo";
    import SuspectMeter from "../components/SuspectMeter";
    import GameActions from "../components/Actions";

    export default {
        name: "views-Game",
        components: {
            PlayerInfo,
            SuspectMeter,
            GameActions
        }
    }
</script>

<style scoped>
    .tabs.is-toggle a {
        background-color: #FFF;
        border-color: #FFF;
    }

    .tabs.is-toggle a:hover {
        background-color: #CFCFCF;
        border-color: #CFCFCF;
    }

    .tabs.is-toggle a.is-active {
        background-color: #3273dc;
        border-color: #3273dc;
        color: white;
    }

    .tabs.is-toggle a.is-active:hover {
        background-color: #285cb0;
        border-color: #285cb0;
    }
</style>