<template>
    <div>
        <game-action v-for="action in actions" :action="action"></game-action>
    </div>
</template>

<script>
    import GameAction from "../../components/actions/Action";

    export default {
        name: "views-game-Actions",
        components: {
            GameAction
        },
        computed: {
            actions() {
                const self = this;
                return self.$store.state.actions;
            }
        },
        created() {
            const self = this;
            self.$store.dispatch('get_actions');
        }
    }
</script>