<template>
    <div class="box">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>This list updates every 10 minutes</p>
                    <table class="table is-fullwidth is-hoverable is-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Influence</th>
                            <th>Guard</th>
                            <th>Average</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(player, index) in players">
                            <td>{{index+1}}</td>
                            <td>{{player.display_name}}</td>
                            <td>{{player.influence}}</td>
                            <td>{{player.guard}}</td>
                            <td>{{player.average_score}}</td>
                        </tr>
                        </tbody>
                        <tbody v-if="loading">
                        <tr>
                            <td colspan="5" style="text-align: center;">
                                <i class="fas fa-spinner fa-spin"></i>
                                <span style="margin-left: 5px;">Loading</span>
                            </td>
                        </tr>
                        </tbody>
                        <tbody v-else-if="!loading && cursor">
                        <tr @click="search_players">
                            <td colspan="5" class="has-background-white-ter"
                                style="text-align: center; cursor: pointer;">
                                <span>Load more</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
    export default {
        name: "views-game-Shop",
        data() {
            return {
                players: [],
                cursor: null,
                loading: false,
            }
        },
        methods: {
            search_players() {
                const self = this;

                self.loading = true;

                self.$http.get(ROOT_URL + '/api/users', {
                    params: {
                        cursor: self.cursor
                    }
                }).then(response => {
                    const body = response.body;

                    self.loading = false;

                    if ("players" in body) {
                        self.players = [
                            ...self.players,
                            ...body.players
                        ];
                    }

                    if ("cursor" in body && body.cursor) {
                        self.cursor = body.cursor;
                    } else {
                        self.cursor = null;
                    }
                })
            }
        },
        created() {
            const self = this;
            self.search_players();
        }
    }
</script>