<template>
    <div>
        <shop-item v-for="item in items" :item="item"></shop-item>
    </div>
</template>

<script>
    import ShopItem from "../../components/shop/Item";

    export default {
        name: "views-game-Shop",
        components: {
            ShopItem
        },
        computed: {
            items() {
                const self = this;
                return self.$store.state.shop_items;
            }
        },
        created() {
            const self = this;
            self.$store.dispatch('get_shop_items');
        }
    }
</script>